.text-blog {
    text-align: justify;
  font-weight: Poppins;
   letter-spacing: 1px;
   max-width: 580px;
   font-size: 16px;
   font-weight: 400;
   padding-left: 25px;
  
   
 
   color: #393738;
}
.btn-class {
    font-size: 15px;
    border-radius: 25px;
       background-color: #5b99d3;
}
@media (max-width: 768px) {
  .card-height {
    max-height: 400px;
    max-width: 280px !important;
 
  }
  
.btn-class {
    font-size: 10px !important;
padding: 10px !important;
  width: 80px !important;  
}
.card-blog {
 transform: translateY(-80px);
}

.title-span-blog  {
  font-size: 14px !important;
}
.text-blog {
  font-size: 12px;
  padding-right: 8px;
}
.accordion-space  {

width: 280px !important;
}
}

.blog-container {
  padding-bottom: 200px;

}

.blog-one {
  font-weight: 600;
  color: #393738;
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.blog-two {
  font-weight: 400;
  font-size: 21px;
  color: #393738;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  margin: 0;
}
