.digital-swim {
 padding-bottom: 400px;
}
.btn-blogService {
    border-radius: 16px;
    font-size: 14px #fffbf2;
    background-color: #AD2E43;
    font-weight: 500;
}
.whrihte-swim {
    position: absolute;
    right: 320px;
    top: 210px;
}
.container-swim {
    margin-top: 50px;
}