
.logo-connect {
    position: absolute;
    top: 135px;
    left: 193px;
}
.custom-connect {
    height: 230px;
}
.btn-connect {
    background-color: #AD2E43;
}
.justify-contact {
  color: #393738;
  font-weight: 700;
  font-size: 45px;
  position: relative; /* Nécessaire pour que 'left' fonctionne */
  left: 1px; /* Attention : "1" tout seul n'est pas valide, on suppose ici 1px */
}
@media (max-width: 768px) { 
.justify-contact {
  color: #393738;
  font-weight: 700;
  font-size: 25px;
/* Nécessaire pour que 'left' fonctionne */
  /* Attention : "1" tout seul n'est pas valide, on suppose ici 1px */
}

}
/*resp*/
.span-justify {
  color: #5b99d3;
  font-weight: 700;
  font-size: 45px;
}

@media (max-width: 992px) {
  .span-justify {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .span-justify {
    font-size: 23px;
  }
}

@media (max-width: 576px) {
  .span-justify {
    font-size: 22px;
  }
}

/*resp*/
.text-service-1 {
  position: absolute;
  z-index: 2;
  color: #393738;
  font-size: 27px;
  font-weight: 500;
  opacity: 0.7;
  text-align: center;
  width: 100%;
  /* ✅ valeur relative, pas "bottom: 380px" */
  left: 0;
  top: -30px;
}

.image-service {
  background-image: url('../images/img-service.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 861px;
  height: auto;
  aspect-ratio: 2 / 1; /* ✅ garde le ratio même en responsive */
  margin: 0 auto;
  position: relative;
  top: 10px;
    aspect-ratio: 2/1;
}

.img-mega {
    max-width: 600px;
  height: auto;
  position: absolute;
  display: block;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .text-service-1 {
    font-size: 13px !important;
    transform: translateY(-90px);
   
  }

  .img-mega {
    width: 90%;
    max-width: 300px;
    top: 40%;  }
    .form-connect {
   height: 350px !important;
 transform: translateY(120px);
    }
}
.digital-service {

padding-bottom: 200px;

}

