

   @media (min-width: 768px) {
  .formation3 {
font-weight:500;
font-size:18px;
color:#393738;
font-family:Poppins;
line-height: 0.5;

  }
}
  @media (min-width: 768px) {
.formation2 {
  letter-spacing:1.5px;
  line-height: 0.5;
}
  }
  @media (max-width: 768px) {
  .accordion-formation{
                      width:250px !important;
               z-index: 0;
                 margin-top: 150px;
             background-color: #fff;
            border-radius: 50px;
                box-shadow:  0 4px 20px rgba(0,0,0,0.1);
                }
                .accordion {
                  max-width: 50% !important;
                }
                .accordion-button { 
             width: 280px !important;
} 
              }
.accordion-button::after {
  color: white !important; 
  font-size: 1.25rem;
}
.accordion-button::after {
  filter: invert(1);
  mix-blend-mode: difference;
}
.accordion-button:hover {
  background-color: white !important;

 border-radius: 20px;
  
}
.accordion {
      text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;       
   }
.accordion-button {
  background: #5B99D3 !important;
  color: black !important;
  width: 350px;   
}

.back-img2 {
  background-image: url('../images/second-back.png');
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
 
}

@media (max-width: 768px) {
  .back-img2 {
    height: 350px;
    width: 280px;
   transform: translateX(-35px);
  }
  .back-img {
    width: 280px !important;
     transform: translateX(-35px);
  }
}

.content-overlay {
    padding: 8px;
    background-color: #fff;
    border-radius:0px 0px 20px 20px;
    width: 100%;
}
.borderhome2 {
    text-align: start;
}
.content-overlay:hover {
    padding: 8px;
    background-color: #5B99D3;
    border-radius:0px 0px 20px 20px;
}
button.button-250:hover {
background-color: black;
}
.button-250 {
  font-size: 14px;
  font-family: "Poppins";
  background-color:#AD2E43;
  border-radius: 70px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.formation-container {
  padding-bottom: 200px;
}
.back-img {
  background-image: url('../images/back-img.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}


@media (min-width: 768px) {
  .back-img {
    height: 450px;
    width: 420px;
  }
}

 
    