.caroussel-1{
      will-change: transform;
    transition: transform 450ms ease-in-out;
    transform: translateY(-100px);
    opacity: 0;
    animation: slideTop 5s ease-in-out forwards alternate;
    overflow: hidden;
}
.caroussel-1:hover
{
    transition: transform 250ms ease-out, opacity 250ms;
    transform: translateY(100px);
    opacity: 1;
    overflow: hidden;
  }
  @keyframes  slideTop  {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1; 
      transform: translateY(0px);
    }
  }
.caroussel-3{
      will-change: transform;
    transition: transform 450ms ease-in-out;
    transform: translateX(-100px);
    opacity: 0;
    animation: slideLeft 5s ease-in-out forwards alternate;
    overflow: hidden;
}
.caroussel-3:hover h1
{
    transition: transform 250ms ease-out, opacity 250ms;
    transform: translateX(100px);
    opacity: 1;
    overflow: hidden;
  }
  @keyframes  slideLeft  {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    50% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 1; 
      transform: translatex(0px);
    }
  }
 /*img responsive*/
 /* Conteneur principal */
.position-home {
  line-height: 1.4;
  max-width: 600px;
  letter-spacing: 1.5px;
}

/* Titre "Why chose" */
.position-home h1 {
  color: #A6354D;
  font-size: 20px;
  font-weight: 500;
  padding-top: 0.5rem;
}

/* Sous-titre */
.position-home h2 {
  font-family: 'Poppins', sans-serif;
  color: #2B2B2B;
  font-size: 38px;
  font-weight: 600;
  padding-top: 0.5rem;
}

/* Paragraphe */
.position-home p {
  font-family: 'Poppins', sans-serif;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 1.6;
  max-width: 500px;
}

/* Conteneur des images */
.img-homes {
  line-height: normal;
}

/* Première image */
.img-home {
  padding-top: 0;
  padding-bottom: 0;
}


  /*img responsive*/
  
/*slide*/
.carousel-inner {
  height: auto;
}

.carousel-caption {
  bottom: 15%;
  text-align: left;
}

.caroussel-1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.caroussel-second {
  font-size: 30px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.caroussel-3 {
  font-size: 17px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.caroussel-button {
  opacity: 0;
  animation: slideUp 1.2s ease-in-out forwards;
  animation-delay: 1s;
}

@media (max-width: 768px) {
  .caroussel-button1 {
  font-size: 8px;

}
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Responsive */
@media (max-width: 768px) {
  .carousel-caption {
    text-align: center;
   top: 0;
  }
 .img-responsive{
  height: 200px;
 }

  .caroussel-1 {
    font-size: 10px;
  }

  .caroussel-second {
    font-size: 10px;
  }

  .caroussel-3 {
    margin-top: -10px;
    font-size: 10px;
    
  }

  .caroussel-button {
    display: flex;
    justify-content: center;
                padding: 0px;
       
        }
}

@media (max-width: 576px) {
  .caroussel-1 {
    font-size: 15px;
  }

  .caroussel-second {
    font-size: 10px;
  }

  .caroussel-3 {
    font-size: 8px;
  }
  .caroussel-button {
    display: flex;
    justify-content: center;
   top: 0;
    font-size: 8px;
  }
}
/*rotate*/
.img-tampon {
  animation: rotateTampon 8s linear infinite; 
  transform-origin: center center;
  top: -30px;
}

/* Animation de rotation */
@keyframes rotateTampon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*rotate*/
.rec-background {
     background-image: url('../images/background-rec.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #ffff;
  width: 1440px;
  height: 1019px;
 padding-bottom: 50px;
 }
.rectangle-3 {
  position: absolute;
 }
.rectangle-4 {
  position: absolute;
  bottom:850px;
right: 0;
}
.img-home1 {
  margin-top: -2rem;
}

@media (min-width: 768px) {
.img-home2 {
top: 170px;
right: 290px;
z-index: 0;

}
}
@media (min-width: 768px) {
.img-tampon {
 top: -110px;
  left: 100px;
z-index: 1;
}
}
@media (min-width: 768px) {
.img-homes {
  margin-left: -4%;
}
}
@media (min-width: 768px) {
.img-home3 {
  left: 260px;
 top: -350px;
}
}
@media (min-width: 768px) {
.img-home4 {
  top: -100px;
  left: -20px;
  
}
}
.img-radius {
   background-image: url('../images/rectangle-radius.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 364px;
  width: 343px;
  
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #A8A2A5;
  border-radius: 50%;
 
}

.bg-red {
  background-color: #AD2E43;
}
@media (min-width: 768px) {
.bg-home {
     background-image: url('../assets/bg-home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 321px;
  width: 1525px;
 
  margin-left: -120px;
  background-color: #262525;
}
}
/*button drop*/
.custom-button {
  border-radius: 20px;
  padding: 10px 20px;
  z-index: 1000;
  position: relative;
  background-color: #AD2E43;
  color: #fff;
  padding: 6px 20px 5px 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
}
.custom-button2 {
  border-radius: 20px;
  padding: 10px 20px;
  z-index: 1000;
  position: relative;
  background-color: #AD2E43;
  color: #fff;
  padding: 6px 20px 5px 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
}
.custom-button:hover {
  background-color: #fff;
  color: #AD2E43;
}
.custom-button2:hover {
  background-color: #fff;
  color: #AD2E43;
}


.arrow-icon {
  margin-left: 0px;
  margin-top: 5px;
 padding-top: 10px;
  font-weight: 600;
  font-size: 25px;

}
.arrow-icon2 {
  margin-left: 0px;
  margin-top: 5px;
 padding-top: 10px;
  font-weight: 600;
  font-size: 25px;

}
.slide-panel {
  display: none;
 position: relative;
 transform: translateY(-10px);
 font-size: 15px;
 color: #000;
 background-color: #fff;
 border-radius: 20px;
}
.slide-panel2 {
  display: none;
  background-color: #fff;
  border-radius: 20px;
}
.slide-panel.open {
  display: block;
}
.slide-panel2.open2 {
  display: block;
}
@media (min-width: 768px) {
.slide-panel {
  position: absolute;
    left: -300px;
  width: 250px;
  font-size: 15px;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  transition: left 0.3s ease;
  z-index: 999;
}
}
@media (min-width: 768px) {
.slide-panel2 {
  position: absolute;
 bottom: -150px;
  left: 155px;
  width: 300px;
  font-size: 15px;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  transition: left 0.3s ease;
  z-index: 1;
}
}
@media (min-width: 768px) {
.slide-panel.open {
  left: 880px;
   background-color: #fff;
 transform: translateY(-100px);
}
}
@media (min-width: 768px) {
.slide-panel.open2 {
  left: 880px;
   background-color: #fff;
}
}
/*testimonial*/
.img-testimonial {
   background-image: url('../assets//rec-testimonial.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 364px;
  width: 343px;
}
.img-test {
 position: absolute;
 left: 140px;
top: -20px;
}
/*bg-number*/
@media (min-width: 768px) {
.bg-number {
     background-image: url('../images//back-number.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 321px;
  width: 1525px; 
 
  margin-left: -120px;
  background-color: #262525;
}
}

.student-container {
    background-color: #cccccc;
  }
  


/*hover button*/
.web-development {
   background-color: #D6D6D6;
  max-width: 400px;
  color: #fff;
  overflow: hidden;
 margin-top: 20px;
 
}

.web-development:hover {
 background-color: #fff;
  margin-bottom: 50px;
  transition: all 0.5s;
  }
.web-development:hover img {
  transform: scale(1.2);
  transition: all 0.5s;
}
.web-development button {
  visibility: hidden;
  will-change: transform;
  transition: transform 450ms;
  transform: translateY(50px);
}
.web-development:hover button {
  visibility: visible;
  transition: transform 250ms;
  transform: translateY(-10px);
}

.back-video {
  background-image: url('../images//bg6.jpg');
  overflow-x: hidden;
  padding: 50px;
     }
      @media (min-width: 768px) {
.card-video {
  padding: 30px;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 340px;
  text-align: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
   }
}
.sentence-video {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  font-family: Poppins;
  
}
.student-container-wrapper {
  background-color: #cccccc;
  width: 100vw;
  overflow-x: hidden;
  margin-left: calc(-1 * (100vw - 100%) / 2); /* Centre proprement */
}

.btn-video {
  width:100%;
}
.border-video {
  color: #000;
}
.border-video .border-text:hover{
  color: #5B99D3;
}

.border-video:hover {
color: #AD2E43 !important
}
.image-video {
  padding: 0px;
  width: 100px !important;
  height: 50px !important;
 border-radius: 5px;
  border: 1px solid #fff;
  
  background-color: #fff;
}
 @media (min-width: 768px) {
.image-video {
  width: 120px;
  height: 120px;
 
}
 }
 .border-text {
  font-family: Poppins;
  font-weight: 200;
  font-size: 13px;
  text-align: justify;
  max-width: 270px;
 }
.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: -180px;
}
.container-test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  background-color: #ffff;
  border-radius: 50px;
  padding: 20px;
  max-width: 400px;
  max-height: 120px;
 }

.test-block {
  max-width: 350px;
}



