.marketing-res {
  font-weight: 700;
  font-family: Poppins;
  font-size: 80px;
  color: #3A3838;
}
 @media (max-width: 768px) {
 .marketing-res {
 
  font-size: 40px;
  
}
 }
.digital-container {
padding-bottom: 350px;
}
.calendar-position {
    max-width: 600px;
}
.icon-position  {
    max-width: 1000px;
}
.btn-markEvenmnt {
    background-color: #AD2E43;
    font-size: 20px;
    border-radius: 20px;
}
.button-mark {
    font-size: 20px;
    background-color: #AD2E43;
    border-radius: 50px;
}

.baffle-container {
     background-image: url('../images/Rejoignez-nous.png');
  background-size: cover;
  position: relative;
  height: 380px;
  width: 1000px;
  
  }
  @media (max-width: 768px) {
    .baffle-container {
     background-image: url('../images/Rejoignez-nous.png');
    height: 330px;
  width: 300px;
        position: absolute;
       transform: translateX(-30%);
    text-align: center;
  }
  }
  .title-baffle {
   color: #393738;
  font-weight: 500;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  opacity: 0.7;
  letter-spacing: 1px;
  padding-left: 150px;
  position: absolute;
 top: -50px;
 
    }
    @media (max-width: 768px) {
  .title-baffle {
    font-size: 20px;
    padding-left: 0.1rem;
    text-align: center;
    top: 100px;
  }
}
  .img-baffle {
    width: 500px;
    height: 560px;
    position: absolute;
    z-index: 2;
    left: 25px;
    
  }
    @media (max-width: 768px) {
       .img-baffle {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 2;
    left: 25px;
   
    
  }
    }
  .image-baffle {
    object-fit: cover;
    display: block;
position: absolute;
bottom: 100%;

  }
  .logo-map {
    position: absolute;
   top: 270px;
   left: 300px;
   
  }
  @media (min-width: 768px) {
  .card-position1 {
    max-width: 1250px;
    margin-left: 50px;
  }
}
.bienvenue {
  color: #393738;
  font-weight: 600;
  font-size: 88px;
  font-family: "Poppins", sans-serif;
  line-height: 0.5;
}

.a-tous {
  color: #393738;
  font-weight: 700;
  font-size: 130px;
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  line-height: 0.5;
}

.a-tous span {
  color: #A22E43;
  font-weight: 600;
  font-size: 130px;
  font-family: "Poppins";
}
@media (max-width: 768px) {
  .bienvenue {
    font-size: 48px;
  }

  .a-tous {
    font-size: 70px;
  }

  .a-tous span {
    font-size: 70px;
  }
}
