.back-img {
  background-image: url('../images/back-img.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}


@media (min-width: 768px) {
  .back-img {
    height: 450px;
    width: 420px;
  }
}

.back-img2 {
  background-image: url('../images/second-back.png');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .back-img2 {
    height: 450px;
    width: 420px;
  }
}
@media (min-width: 768px) {
.content-overlay {
    padding: 8px;
    background-color: #fff;
    border-radius:0px 0px 20px 20px;
}
}
@media (min-width: 768px) {
.borderhome2 {
    text-align: start;
}
}
@media (min-width: 768px) {
.content-overlay:hover {
    padding: 8px;
    background-color: #5B99D3;;
    border-radius:0px 0px 20px 20px;
}
}
@media (min-width: 768px) {
button.button-250:hover {
background-color: black;
}
}
@media (min-width: 768px) {
.formation-container {
  padding-bottom: 200px;
}
}
@media (min-width: 768px) {
.button-250 {
  font-size: 14px;
  font-family: "Poppins";
  background-color:#AD2E43;
}
}
