
   
   .titre-evenment {
  color: #393738;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 66px;
}
@media (max-width: 768px) {
  .titre-evenment {
    font-size: 45px;
  }
}
@media (max-width: 480px) {
  .titre-evenment {
    font-size: 32px;
  }
}
.card-nos {
  width: 490px;
  height: 410px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
 }
@media (max-width: 768px) {
  .card-nos {
    width: 90%;
    height: auto;
  }
}


@media (max-width: 480px) {
  .card-nos {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
.card-first {
  width: 490px;
  height: 410px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff; 
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}
@media (max-width: 768px) {
  .card-first {
    width: 90%;
    height: auto; 
  }
}
@media (max-width: 480px) {
  .card-first {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

   .content-overlay1 {
    padding: 6px;
    height: 120px;
    background-color: #fff;
    border-radius:0px 0px 20px 20px;
}
.title-container {
    padding: 6px;
    background-color: #5D96CF ;
    height: px;
    border-radius: 15px;
}

.text-marketing {
    text-align: justify;
   font-family: Poppins;
   letter-spacing: 1.5px;
   max-width: 580px;
   font-size: 13px;
   font-weight: 500;
}
.date-container {
    padding: 2px;
    background-color: #5D96CF;
   font-size: 10px;
    width: 120px;
    height: 25px;
    border-radius: 5px;
   }
   .accordion-button1:hover {
  background-color: white !important;
color: #AD2E43 !important;
 border-radius: 20px;
 
}
   .accordion1  {
    width: 174px;
    
 
}

.accordion-button1 {
    width: 174px;
    height: 48px;
  background: #AD2E43 !important;
  color: #fff !important; 
   font-size: 20px !important; 
  padding: 10px 15px;
  font-weight: 700;
 border: none;

}
.nosEvenment-container {
  padding-bottom: 200px;
}
 .img-design {
     border-radius: 0px 0px 0px 0px;
    }