
   
   .titre-evenment {
  color: #393738;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 66px;
}
.text-marketing-2 {
  color: #c32942;
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 768px) {
  .titre-evenment {
    font-size: 45px;
  }
}
@media (max-width: 480px) {
  .titre-evenment {
    font-size: 32px;
  }
  .card-nos {
 height: 350px;
  }
}
.card-nos {
  width: 490px;
  height: 410px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
 }
@media (max-width: 768px) {
  .card-nos {
   width: 250px; 
   height: 450px !important;  
  }
  .card-body-9 {
     transform: translateY(-150px);
  }
  .text-marketing-2 {
   
  font-size: 12px !important;
      }
      .text-marketing-1 {
   
    font-size: 10px !important;
      }
      .date-container {
        
      }
      .img-design {
        max-height: 180px;
      }
 
}





@media (max-width: 768px) {
   .card-dev {
    max-width: 280px;
   
  }

  .card-first {
    max-width: 280px;
    margin: auto;
    
  }
  .card-body-10 {
    transform: translateY(-150px);
  }
}
@media (max-width: 768px) {
    .text-marketing-1 {   
    font-size: 11px !important;  }
  .text-marketing-2 {
    font-size: 12px !important;
    }
  .img-design1 {
   
  }
}
   .content-overlay1 {
    padding: 6px;
    height: 120px;
    background-color: #fff;
    border-radius:0px 0px 20px 20px;
}
.title-container {
    padding: 6px;
    background-color: #5D96CF ;
    height: px;
    border-radius: 15px;
}

.text-marketing {
    text-align: justify;
   font-family: Poppins;
   letter-spacing: 1.5px;
   max-width: 580px;
   font-size: 13px;
   font-weight: 500;
}
.text-marketing-1 {
    text-align: justify;
   font-family: Poppins;
   letter-spacing: 1.5px;
   max-width: 580px;
   font-size: 13px;
   font-weight: 500;
}
.date-container {
    padding: 2px;
    background-color: #5D96CF;
   font-size: 10px;
    width: 120px;
    height: 25px;
    border-radius: 5px;
   }
   .accordion-button1:hover {
  background-color: white !important;
color: #AD2E43 !important;
 border-radius: 20px;
 
}
   .accordion1  {
    width: 174px;
    
 
}

.accordion-button1 {
    width: 174px;
    height: 48px;
  background: #AD2E43 !important;
  color: #fff !important; 
   font-size: 20px !important; 
  padding: 10px 15px;
  font-weight: 700;
 border: none;

}
.nosEvenment-container {
  padding-bottom: 200px;
}
 .img-design {

    }