
    @media (min-width: 768px) {
.logo-footer {
    
     opacity: 90%;
   width: 80px;
   height: 40px;
   background-color: none
}
    }
 
.footer-container {
  background-color: #111;
  color: #fff;
 margin-top: 0px;
 padding-bottom: 100px;
 
 

}
.title-footer {
  font-size: 15px;
  color: #fff;
}

.footer-container input::placeholder {
  color: #ccc;
}

.footer-container ul {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .footer-container .d-flex.justify-content-center {
    flex-direction: column;
    align-items: center;
  }

  .footer-container input {
    width: 70%;
    margin-top: -20px;
    height: 30px;
  }

  .footer-container .btn {
    width: 30%;
    font-size: 8px;
    height: 30px;
    padding: 0px;
   
  }

  .footer-container ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
         }

  .footer-container ul li {
    font-size: 12px;
   margin-top: -10px;
  }
}
