
    @media (max-width: 768px) {
      .title-footer {
        font-size: 16px;
      }
.logo-footer {
    
     opacity: 90%;
   width: 100px;
   height: 60px;
   background-color: none
}

.footer-container-2 {
  max-width: 280px !important;
  margin: auto;
  
}
    }
 
.footer-container {
    color: #fff;
 margin-top: 0px;
 padding-bottom: 100px;
}

.footer-container input::placeholder {
  color: #ccc;
}


.footer-container ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 0;
  margin: 0;
}

.footer-container ul li {
  font-size: 16px;
}

@media (max-width: 768px) {
  .footer-container ul {
    flex-direction: row;
    gap: 0.75rem;
  }
  .footer-container ul li {
    font-size: 8px;
    line-height: 0.5;
  }
  .input-text {
font-size: 8px;
width: 130px;
  }
  .input-text::placeholder {
     transform: translateX(-20px);
     font-size: 8px;
  }
  .btn-footer-1 {
    font-size: 8px;
     }
  .person {
    font-size: 10px;
     transform: translateX(-50px);
  }
}

