

@media (min-width: 768px) {
.nav-container {
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 1350px;
height: 60px;
max-width: 100%;
  }
  .navbar-nav {
    line-height: 25px;
    gap: 10px;
  }
}
.nav-link {
 color: #1D1D1D;
}
.nav-center h6 {
 
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-center h6:hover {
  color: #007bff;
}
.nav-link:hover {
color: #007bff;
}
.logo-bbc {
    
    width: 80px;
  
}
.coach-dropdown {
  position: relative;
  display: inline-block;
}

.coach-title {
  cursor: pointer;
  font-weight: 400;
  padding: 10px;
  font-size: 15px;
  color: #1D1D1D;
}

/* important : pas de margin ici */
span.coach-title:hover {
  background-color: #f0f0f0;
  color: #006fdc !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* juste en dessous */
  left: 0;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* ce hover doit englober le span ET le dropdown */
.coach-dropdown:hover .dropdown-content {
  display: block;
}

/* liens du dropdown */
.dropdown-content a {
  color: #333;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.btn-register {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}